

@font-face {
    font-family: "Tahoma";
    src: url("Tahoma-Bold.eot");
    src: local("Tahoma Bold"), local("Tahoma-Bold"),
        url(../fonts/Tahoma-Bold.eot) format("embedded-opentype"),
        url(../fonts/Tahoma-Bold.woff2) format("woff2"),
        url(../fonts/Tahoma-Bold.woff) format("woff"),
        url(../fonts/Tahoma-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Tahoma";
    src: url("Tahoma.eot");
    src: local("Tahoma"), url(../fonts/Tahoma.eot) format("embedded-opentype"),
        url(../fonts/Tahoma.woff2) format("woff2"),
        url(../fonts/Tahoma.woff) format("woff"),
        url(../fonts/Tahoma.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Verdana";
    src: url("Verdana.eot");
    src: local("Verdana"), url(../fonts/Verdana.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Verdana";
    src: url("Verdana-Bold.eot");
    src: local("Verdana Bold"),
        url(../fonts/Verdana-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Verdana";
    src: url("Verdana-Bolditalic.eot");
    src: local("Verdana BoldItalic"),
        url(../fonts/Verdana-BoldItalic.ttf) format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Verdana";
    src: url("Verdana-Italic.eot");
    src: local("Verdana Italic"),
        url(../fonts/Verdana-Italic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

img,
svg {
    width: 100%;
    display: block;
}

.idc-section {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    max-width: 690px;
    margin: 0 auto;
}

.idc-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.idc-container {
    margin: 0 auto;
    max-width: 640px;
    padding-left: 15px;
    padding-right: 15px;
}

.idc-bgwrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.idc-title {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 43px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #058857;
}
.idc-verdana16 {
    margin: 0;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.idc-verdana20 {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #058857;
}
.idc-title-2 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #058857;
}
/* *********************************head***************** */

.idc-head .idc-container {
    height: 400px;
    padding-top: 120px;
    padding-bottom: 65px;
}
.idc-head-content {
    height: 100%;
    width: 100%;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.idc-logo {
    position: absolute;
    width: 66px;
    bottom: 100%;
    left: -10px;
}
.idc-header .idc-bgwrapper {
    background-position: bottom;
}
.idc-head .idc-title > span {
    color: #e41d32;
}
.idc-head .idc-verdana16 {
    max-width: 256px;
    color: #ffffff;
    font-weight: bold;
}

/* *************about************** */
.idc-about .idc-container {
    background: #ffffff;
    border-radius: 40px 40px 0 0;
    padding-top: 50px;
}
.idc-about .idc-verdana16 > span {
    color: #058857;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
.idc-about .idc-title-2 {
    margin-top: 60px;
}
.idc-about .idc-title-2 + .idc-verdana16 {
    margin-top: 15px;
}
.idc-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    max-width: 560px;
}
.idc-list-item {
    position: relative;
    padding-left: 21px;
}
.idc-list-item::before {
    content: "";
    top: 8px;
    left: 0;
    width: 6px;
    height: 6px;
    background: #000000;
    border-radius: 50%;
    position: absolute;
}

/* *************info************** */
.idc-info {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.idc-info .idc-container {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
}
.idc-info p {
    margin: 0;
}
.idc-info p > strong {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #058857;
}

.idc-info p:not(:first-child) {
    margin-top: 60px;
}

.idc-info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.idc-info ul li {
    position: relative;
    margin-top: 17px;
    padding-left: 17px;
    font-size: 16px;
    line-height: 19px;
    color: #2c0101;
}

.idc-info ul li::before {
    content: "";
    position: absolute;
    top: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    left: 0;
    width: 6px;
    height: 6px;
}

/* ***********************pluses*************************** */
.idc-pluses .idc-container {
    padding-bottom: 60px;
    background-color: #ffffff;
}
.idc-pluses .idc-verdana20 {
    max-width: 570px;
}
/* **************************footer******************* */
.idc-footer .idc-container {
    height: 460px;
}
.idc-ps {
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 11px;
    color: rgba(0, 0, 0, 0.3);
}
